
body{
    height:700px;
    display: flex;
    justify-content: center;
   align-items: center;

}
.App-Container{
    padding: 10px;
    border: 1px solid gray;
    border-radius: 10px;
    width: 500px;
    
   
}



